<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script type="application/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <!--<link rel="stylesheet" href="/css/main.css">-->
        <link rel="stylesheet" href="/css/app.css">

    </head>
    <body>

        <div class="container">
          <div class="page-header">
              <h1 class="title">
                  {{ site.name }}
                  <small><a class="btn btn-link" href="/">home</a></small>
              </h1>
          </div>

          {{ content }}

          <hr>
          <div>
            <div class="contact">
              <p>
                Chen Chao Shih<br />
                Programmer, gamer, movie lover<br />
                jcfrank7@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/jcfrank">github.com/jcfrank</a><br />
                <a href="https://about.me/jcfrank7">about.me/jcfrank7</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
